---
import "../styles/global.css";

import Hero from "../components/home/Hero.astro";
import MainContent from "../components/home/MainContent.astro";
import Navbar from "../components/layout/Navbar.astro";
import RightAside from "../components/layout/RightAside.astro";
import Sidebar from "../components/layout/Sidebar.astro";
import siteIcon from "../assets/site-icon.png";
---

<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href={siteIcon.src} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>北海</title>
	</head>
	<body class="min-h-screen">
		<Navbar />
		<Hero />
		<main
			class="relative z-10 mx-auto grid w-[min(calc(100%_-_2rem),1280px)] grid-cols-1 items-start gap-6 py-16 min-[821px]:grid-cols-[minmax(0,18rem)_minmax(0,1fr)] min-[1101px]:grid-cols-[minmax(0,18rem)_minmax(0,1fr)_minmax(0,16rem)]"
		>
			<div class="min-w-0">
				<Sidebar />
			</div>
			<div class="min-w-0">
				<MainContent />
			</div>
			<div class="min-w-0 min-[821px]:col-start-2 min-[1101px]:col-auto">
				<RightAside />
			</div>
		</main>
	</body>
</html>
